<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="menu-bar">

        <div class="logo header">
            <a href="{{ url_for('home') }}">
                <h1>Medicare With Lynn</h1>
            </a>
        </div>

        <div class="about header">
            <a href="{{ url_for('about') }}"><button>About</button></a>
        </div>

        <div class="schedule header">
            <a href="{{ url_for('appointment') }}"><button>Schedule</button></a>
        </div>

        <div class="contact header">
            <a href="{{ url_for('contact') }}"><button>Contact</button></a>
        </div>

        <div class="call-me-button header">
            <button>Call Me</button>
            <!-- TODO add code to dial phone number if on device that can make a phone call -->
        </div>

    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>