{% extends 'base.html' %}

<h1>{% block title %} Contact Page {% endblock %}</h1>

{% block content %}
<div class="container">
    <h2>Send me a message</h2>
</div>
<div class="contact-message-form container">
    <form>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control form-control-lg" placeholder="Your Email Address" id="inputEmail" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Your email will never be shared with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control form-control-lg" id="inputName" type="text" placeholder="Your Name">
        </div>
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea class="form-control form-control-lg" id="inputMessage" placeholder="Your Message" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

{% endblock %}